<!-- <div class="main-container">
	<div class="container">
		<div class="list-container">
			<form [formGroup]="newTaskForm">
					<mat-form-field appearance="fill">
						<mat-label>Ingresa la nueva tarea</mat-label>
						<input placeholder="Ingresa la nueva tarea" formControlName="newTask">
						<mat-error *ngIf="newTaskForm.controls.newTask.invalid"></mat-error>
					</mat-form-field>
			</form>
			<button class="btn-primary" (click)="addTask()">
				Ingresar tarea
			</button>
			<div *ngFor="let task of tasks">
				{{task}}
				<mat-checkbox class="example-margin" [(ngModel)]="">Checked</mat-checkbox>
			</div>
		</div>
	</div>
</div> -->
